.bigSquare {
  text-align: center;
  background: black;
}
.bigSquare div {
  display: inline-block;
  font-size: 80px;
  line-height: 80px;
  margin: 5px;
  background: #332f2f6e;
  color: white;
  padding: 10px;
}
